<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>Login</title>
</head>
<body>

    <div class="login-wrapper">
        <div class="site-logo">
            <img src="/static/icon.webp" alt="">
        </div>
        <div class="login">
            <form method="POST" action="{{ url_for('login') }}">
                <input type="password" name="login_key" required />
                <button type="submit">Login</button>
            </form>
        </div>
    </div>

</body>
</html>